body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Màu nền tối để nổi bật game */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Chống cuộn trang web */
}

#game-container {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}